.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 20px 170px;
    margin: 0;

    background: #161513;
    z-index: 1000;
}

body {
    padding-top: 90px;
}

.navbar-title {
    position: relative;
    display: inline-block;
}

.navbar-title h3 {
    position: relative;
    padding: 0 15px;
    font-size: 26px;
    font-weight: 550;
    z-index: 2;
}

.navbar-title img {
    position: absolute;
    left: 79%;
    top: 65%;
    transform: translate(-50%, -50%);
    width: 50px;
    z-index: 1;
    opacity: 0.9;
}

.nav-menu {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 60px;
    font-size: 20px;
}

.connect {
    padding: 15px 30px;
    border-radius: 50px;
    background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.06%);
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.connect:hover {
    transform: scale(1.05);
}

.nav-menu li {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.nav-menu li img {
    display: flex;
    margin: auto;
}

.anchor-link {
    text-decoration: none;
    color: #ffffff;
}

.nav-mob-close {
    display: none;
}

.nav-mob-open {
    display: none;
}

/* ---------------- Mobile ---------------- */

@media(max-width:768px) {
    .navbar {
        padding: 20px 50px;
        margin: 0;
    }

    .connect {
        display: none;
    }

    .nav-mob-open {
        display: block;
        transform: scale(0.7);
        cursor: pointer;
        margin-left: auto;
    }

    .nav-mob-close {
        display: block;
        position: relative;
        top: 20px;
        left: 200px;
        transform: scale(0.8);
        width: 30px;
        cursor: pointer;
    }

    .nav-menu {
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0;
        gap: 30px;
        background-color: #1f0016;
        width: 250px;
        height: 100%;
        z-index: 2;
        transition: right 0.5s;
        right: -350px;
    }

    .nav-menu li {
        font-size: 22px;
        padding-left: 100px;
        flex-direction: row;
        gap: 20px;
        margin-left: -40px;
    }

    body {
        padding-top: 80px;
    }
}